* {
   box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.clear {
   clear: left;
}
/* containerクラスのCSSを指定してください */
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


/* top-wrapperクラスのCSSを指定してください */
.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url(https://www.s-hoshino.com/bg_sq/thum/bg_006.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}
.top-wrapper p {
  opacity: 0.7;
 
}
.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.instagram {
  background-color: #dc47d2;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(239, 208, 240, 0.547);
  position: fixed;
  top: opx;
  z-index: 10;
}

.logo {
  width: 200px;
  padding-top: 7px;
}

/* header-leftクラスのCSSを指定してください */
.header-left {
  float: left;
}


/* header-rightクラスのCSSを指定してください */
.header-right {
  float: right;
  background-color: rgba(239, 208, 240, 0.547);
  transition: all 0.5s;
}


/* header-rightクラスにhoverしたときのCSSを指定してください */
.header-right:hover {
    background-color: rgba(126, 84, 125, 0.9);
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display :block;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* displayをnoneに指定してください */
  display: none;
}

.lesson-wrapper {
   
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top:90px;
    width: 100%;
    color: white;
}

.lesson-icon p {
    opacity: 0.5;
}

.txt-icon {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color: #b3aeb5;
}

.message {
    background-color: #5dca88;
    padding: 15px 40px 15px 40px;
}

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;  
  padding-bottom: 80px;
  text-align: center;
}

.message {
    box-shadow: 0px 7px #1a7940;
}

.message:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}
footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}
footer {
    padding-top: 30px;
}

@media(max-width: 670px) {
  header {
    width: 100%;
  }
}
